<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../core/static/images/WM1.ico"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../../SASS/base/reset.css" />
    <link rel="stylesheet" href="../../SASS/layouts/loader.css" />
    <link rel="stylesheet" href="../../SASS/pages/register.css" />
  </head>
  <body>
    <!-- Images grid /masonry background/ -->
    <div id="grid" class="grid"></div>

    <!-- Form -->
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs -->
        <h2 class="active">Sign In</h2>
        <a href="#."
          ><h2
            class="inactive underlineHover"
            onclick="LoadPath(`./signup.html`)"
          >
            Sign Up
          </h2></a
        >

        <!-- User icon -->
        <div class="fadeIn first">
          <i class="fa-solid fa-circle-user userIcon"></i>
        </div>

        <!-- Login Form -->
        <form class="form" action="/result" method="POST">
          <div class="textField">
            <!-- Email input container -->
            <div class="input-container">
              <input
                type="email"
                id="login"
                class="input fadeIn second"
                name="email"
                placeholder=" "
                required
                autocomplete="email"
              />
              <div class="cut cut-short"></div>
              <label class="placeholder" for="wm_text">Email</label>
            </div>

            <!-- Password input container -->
            <div class="input-container">
              <input
                type="password"
                id="password"
                class="input fadeIn third"
                name="pass"
                placeholder=""
                required
                autocomplete="new-password"
              />
              <div class="cut"></div>
              <label class="placeholder" for="wm_text">Password</label>
            </div>
          </div>

          <!-- Submit button -->
          <input type="submit" class="submit fadeIn fourth" value="Sign In" />

          <!-- Google Registration Button -->
          <div class="google_button_container" style="margin-bottom: 20px">
            <a
              href="/login/google"
              class="google_button submit fadeIn fourth"
              onclick="LoadingScreen()"
            >
              <img src="../static/google_logo.png" alt="google logo" />
              Sign in with Google
            </a>
          </div>
        </form>
      </div>
    </div>

    <!-- Loader -->
    <div id="loader" class="loader"></div>

    <!-- JavaScript connections -->
    <script src="../static/imageSelector.js"></script>
    <script src="../../core/static/loading.js"></script>
  </body>
</html>
