<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5" />
       <link rel="icon" type="image/x-icon" href="{{ url_for('core_bp.static', filename='images/WM1.ico') }}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='loader.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='reset.css') }}"/>
     <link rel="stylesheet" type="text/css" href="{{ url_for('registration_bp.static', filename='register.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('registration_bp.static', filename='RegisterMedia.css') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('core_bp.static', filename='global.css') }}">
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <a href="/login"
          ><h2 class="inactive underlineHover">Sign In</h2></a
        >
        <h2 class="active">Sign Up</h2>

        <!-- Icon -->
        <div class="fadeIn first">
               <img src="{{ url_for('registration_bp.static', filename = 'user.png') }}" id="icon" alt="User Icon" />
        </div>


        <!-- SignUp Form -->
        <form class="form" action="/register" method="POST">
            <div style="color: red">{{error}}</div>
          <div class="textField">
            <div class="input-container">
              <input
              type="text"
              id="name"
              class="input fadeIn second"
              name="name"
              placeholder=" "
              required
              autocomplete="name"
              />
              <div class="cut cut-short"></div>
              <label class="placeholder" for="wm_text">Name</label>
            </div>
            <div class="input-container">
              <input
              type="email"
              id="login"
              class="input fadeIn second"
              name="email"
              placeholder=" "
              required
              autocomplete="email"
              />
              <div class="cut cut-short"></div>
              <label class="placeholder" for="wm_text">Email</label>
            </div>
            <div class="input-container">
              <input
              type="password"
              id="password"
              class="input fadeIn third"
              name="pass"
              placeholder=""
              required
              autocomplete="new-password"
              />
              <div class="cut"></div>
              <label class="placeholder" for="wm_text">Password</label>
            </div>
          </div>
          <input type="submit" class="submit fadeIn fourth" value="Sign Up" />

           <!-- Google Registration Button -->
          <div class="google_button_container" style="margin-bottom: 20px">
            <a href="/login/google" class="google_button submit fadeIn fourth">
              <img src="{{ url_for('registration_bp.static', filename = 'google_logo.png') }}" alt="google logo">
                Sign in with Google
            </a>
          </div>
             </form>
      </div>
    </div>

 <div class="grid">
    <div class="item">
        <img id="img0" src="{{ url_for('registration_bp.static', filename='images/img0.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img1" src="{{ url_for('registration_bp.static', filename='images/img1.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img2" src="{{ url_for('registration_bp.static', filename='images/img2.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img3" src="{{ url_for('registration_bp.static', filename='images/img3.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img4" src="{{ url_for('registration_bp.static', filename='images/img4.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img5" src="{{ url_for('registration_bp.static', filename='images/img5.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img6" src="{{ url_for('registration_bp.static', filename='images/img6.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img7" src="{{ url_for('registration_bp.static', filename='images/img7.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img8" src="{{ url_for('registration_bp.static', filename='images/img8.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img9" src="{{ url_for('registration_bp.static', filename='images/img9.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img10" src="{{ url_for('registration_bp.static', filename='images/img10.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img11" src="{{ url_for('registration_bp.static', filename='images/img11.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img12" src="{{ url_for('registration_bp.static', filename='images/img12.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img13" src="{{ url_for('registration_bp.static', filename='images/img13.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img14" src="{{ url_for('registration_bp.static', filename='images/img14.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img15" src="{{ url_for('registration_bp.static', filename='images/img15.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img16" src="{{ url_for('registration_bp.static', filename='images/img16.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img17" src="{{ url_for('registration_bp.static', filename='images/img17.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img18" src="{{ url_for('registration_bp.static', filename='images/img18.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img19" src="{{ url_for('registration_bp.static', filename='images/img19.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img20" src="{{ url_for('registration_bp.static', filename='images/img20.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img21" src="{{ url_for('registration_bp.static', filename='images/img21.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img22" src="{{ url_for('registration_bp.static', filename='images/img22.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img23" src="{{ url_for('registration_bp.static', filename='images/img23.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img24" src="{{ url_for('registration_bp.static', filename='images/img24.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img25" src="{{ url_for('registration_bp.static', filename='images/img25.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img26" src="{{ url_for('registration_bp.static', filename='images/img26.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img27" src="{{ url_for('registration_bp.static', filename='images/img27.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img28" src="{{ url_for('registration_bp.static', filename='images/img28.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img29" src="{{ url_for('registration_bp.static', filename='images/img29.png') }}" class="icon" alt="IMG" />
    </div>
    <div class="item">
        <img id="img30" src="{{ url_for('registration_bp.static', filename='images/img30.png') }}" class="icon" alt="IMG" />
    </div>

    </div>
        <div id="loader" class="lds-hourglass"></div>
       <script src="{{ url_for('core_bp.static', filename='loading.js') }}"></script>
       <script src="{{ url_for('registration_bp.static', filename='imageSelector.js') }}"></script>


  </body>
</html>

