@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-regular;
  src: url(Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Playfair_Display;
  src: url(Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  font-size: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(0.25turn, #000122, #000118);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

html {
  overflow-x: hidden;
  white-space: nowrap;
}

/* Hide vertical scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide vertical scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Description */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-top: 3rem;
}

.title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 3rem;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin-top: 0;
}

.subtitle {
  font-family: Poppins;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
  margin-top: -1em;
  text-shadow: 0 0 25px blue, 0 0 5px darkblue;
}

.text {
  font-family: Poppins;
  font-weight: 100;
  font-size: 1em;
  margin-top: -0.8em;
  text-align: center;
  text-shadow: 0 0 5px darkblue;
}

.ol {
  text-align: start;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 2;
  white-space: initial;
  margin: 7rem 4rem 20rem 4rem;
  align-items: center;
}

.infobox {
  animation-name: leftslide;
  animation-duration: 0.8s;
  max-width: 50%;
}

.selected {
  background-image: linear-gradient(
    to right,
    #52009e,
    #9b51e0,
    rgba(48, 129, 237, 0.8),
    #00f300,
    #d9ff00b6
  );
  background-size: 300%;
}

.selected.reverse {
  animation-name: ReverseSelectedAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.selected:hover {
  animation-name: selectedAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.selectedtext {
  animation-name: selectedRotateAnimation;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  background-clip: text;
}

.display {
  animation-name: rightslide;
  animation-duration: 0.8s;
  transform: rotate(4deg);
  border: 1px solid;
  border-radius: 3rem;
  overflow: hidden;
  width: 35rem;
  height: 35rem;
  object-fit: cover;
  position: relative;
  z-index: -1;
  right: 0%;
}

.display img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.infobox-createbtn,
.infobox-explorebtn {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: #ffffff;
  padding: 0.6rem 3rem;
  cursor: pointer;
  border-radius: 30px;
  letter-spacing: 0.1px;
  transition: all 300ms linear;
}

.infobox-createbtn {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid #d7d7d7;
}

.infobox-explorebtn {
  background-color: #009bf5ef;
}

.infobox-explorebtn:hover {
  background-color: #0010f5af;
}

.infobox-btnwrapper {
  display: flex;
}

/* Started */

.started {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  scale: 1.5;
  margin-bottom: 12rem;
}

.started-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7rem;
  top: 80px;
  filter: blur(5rem);
  background: linear-gradient(93deg, #9b51e0 15%, #3081ed 85%);
}

.started-items {
  padding: 3rem 4rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: space-between;
}

.started-items-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 1.5rem;
  background-color: red;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.17),
    inset -3px 3px 3px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74px);
}

.started-items-item * {
  font-size: 2rem;
  color: antiquewhite;
  --fa-animation-duration: 2s;
}

.itemwrapper p {
  width: 10rem;
  margin: 0;
  margin-top: 1rem;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  align-self: center;
  position: relative;
}

.itemwrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.right {
  transform: translateX(2000px);
  transition: all 250ms linear;
}

.left {
  transform: translateX(-2000px);
  transition: all 250ms linear;
}

.is-visible {
  transform: translateX(0px);
}

/* To top button */

.toTopBTN {
  width: calc(100vw / 30);
  height: calc(100vw / 30);
  border-radius: 100%;
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  font-size: 2.5rem;
  text-decoration: none;
  z-index: 100;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition: all 300ms linear;
  opacity: 0;
}

.fa-solid.fa-arrow-up {
  color: #000118;
  transition: all 300ms linear;
}

.toTopBTN:hover {
  background-color: #00eeff;
  color: antiquewhite;
}

.toTopBTN:hover .fa-solid.fa-arrow-up {
  color: antiquewhite;
  text-shadow: 0.1rem 0.1rem #000118;
}

.toTopBTN.scrolled {
  animation-name: fadeIN;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.toTopBTN.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

p {
  font-size: 25px;
}

/* From this to this section */

.emptyScroller {
  margin-top: 10rem;
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyScroller::-webkit-scrollbar {
  display: none;
}

/* Hide vertical scrollbar for IE, Edge and Firefox */
.emptyScroller {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.whyChoose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: ns-resize;
}

.spaceNeeded {
  height: 1000rem;
}

.whyChoose > .title {
  font-size: 4rem;
}

.fromThisToThis_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  margin-top: 2rem;
}

.fromThisToThis_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30rem;
  min-width: 20rem;
}

.fromThisToThisHeadline {
  font-size: 3rem;
  font-family: Poppins;
  margin-bottom: 1.5rem;
  transform: translate(5vw, 10vh);
  opacity: 0;
  transition: all 300ms linear;
}

.fromThisToThisHeadline.onscreen {
  transform: translate(0vw, 0vh);
  opacity: 1;
}

.textBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.describerText {
  max-width: 30vw;
  white-space: normal;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
  animation-name: TextOnScroll;
  animation-timeline: scroll(block nearest);
  transition: all 200ms linear;
}

.describerText.f {
  color: #00eeff;
}

.describerText.s {
  color: #ff0000;
}

.describerText.t {
  color: #00ff00;
}

.describerText.scrollShow {
  cursor: ew-resize;
}

.btn3 {
  width: 15rem;
  height: 3rem;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: none;
  background: linear-gradient(to right, #52009e, #00eeff, #ff0000, #00ff00);
  transition: all 300ms linear;
  animation-name: btnOnScroll;
  animation-timeline: scroll(block nearest);
  background-size: 500%;
}

.btn3:hover {
  background: linear-gradient(to left, #52009e, #00eeff);
  color: yellow;
}

.imgs {
  width: 100%;
  height: 35rem;
}

.fromIMG,
.toIMG {
  height: 50vh;
  width: 35vh;
  display: inline-block;
  transition: all 300ms linear;
  position: absolute;
}

.fromIMG {
  transform: translateX(-150vw);
}

.toIMG {
  transform: translateX(150vw);
}

.fromIMG.first.onscreen,
.toIMG.first.onscreen {
  transform: translateX(0vw);
}

.fromIMG.second.onscreen {
  transform: translateX(0vw);
}

.toIMG.second.onscreen {
  transform: translateX(0vw);
}

.fromIMG.third.onscreen {
  transform: translateX(0vw);
}

.toIMG.third.onscreen {
  transform: translateX(0vw);
}

/* ----------------------------------------- Background -----------------------------------------*/

.dot1,
.dot2,
.dot3,
.dot4,
.dot5 {
  content: "";
  position: absolute;
  z-index: -100;
  animation-iteration-count: infinite;
}

.dot1 {
  width: 11rem;
  height: 11rem;
  left: 60%;
  top: 9.2rem;
  filter: blur(3.5rem);
  background-color: #fc37ffee;
  animation-name: animateDot1;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.dot2 {
  width: 30rem;
  height: 30rem;
  right: 0;
  filter: blur(8rem);
  background-color: #0502ceb4;
  animation-name: animateDot2;
  animation-duration: 9s;
  animation-timing-function: linear;
}

.dot3 {
  width: 3rem;
  height: 3rem;
  left: 20%;
  top: 50rem;
  filter: blur(3rem);
  background-color: #34d40c;
  animation-name: animateDot3;
  animation-duration: 20s;
  animation-timing-function: ease;
}

.dot4 {
  width: 40rem;
  height: 40rem;
  left: -25%;
  top: 60rem;
  filter: blur(10rem);
  background-color: #75006fe7;
  animation-name: animateDot4;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
}

.dot5 {
  width: 6rem;
  height: 6rem;
  left: 65%;
  top: 50rem;
  filter: blur(3rem);
  background-color: #00eeff;
  animation-name: animateDot5;
  animation-duration: 30s;
  animation-timing-function: ease-out;
}

/* ---------------------------------ANIMATIONS--------------------------------- */

@keyframes animateDot1 {
  0% {
    filter: blur(3.5rem);
  }
  50% {
    filter: blur(5rem);
  }
  100% {
    filter: blur(3.5rem);
  }
}

@keyframes animateDot2 {
  0% {
    left: 80%;
    top: 8rem;
  }
  25% {
    left: 80%;
    top: 6rem;
    background-color: #6664f8e5;
  }
  50% {
    left: 70%;
    top: 7rem;
  }
  75% {
    left: 65%;
    top: 6rem;
    background-color: #0502ceb4;
  }
  100% {
    left: 80%;
    top: 8rem;
  }
}

@keyframes animateDot3 {
  0% {
    left: 20%;
    top: 35rem;
    width: 3rem;
    height: 3rem;
  }
  15% {
    left: 21%;
    top: 40rem;
    width: 3.5rem;
    height: 3.6rem;
  }
  25% {
    left: 22%;
    top: 40rem;
  }
  35% {
    left: 21%;
    top: 45rem;
    width: 4rem;
    height: 5rem;
    background-color: #33ff00;
  }
  50% {
    left: 20%;
    top: 35rem;
    width: 3rem;
    height: 3rem;
    background-color: #27a807;
  }

  75% {
    left: 18%;
    top: 34rem;
    width: 2rem;
    height: 2rem;
    filter: blur(1.5rem);
    background-color: #33ff00;
  }
  80% {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #27a807;
  }
  91% {
    left: 19%;
    top: 35rem;
    width: 4.1rem;
    height: 4.7rem;
    background-color: #33ff00;
  }
  100% {
    left: 20%;
    top: 35rem;
    width: 3rem;
    height: 3rem;
  }
}

@keyframes animateDot4 {
  0% {
    left: -25%;
    top: 70rem;
    filter: blur(10rem);
  }
  50% {
    left: -10%;
    top: 70rem;
    filter: blur(14rem);
    background-color: #aa04a2;
  }
  100% {
    left: -25%;
    top: 70rem;
    filter: blur(15rem);
  }
}

@keyframes animateDot5 {
  0% {
    filter: blur(3rem);
    background-color: #00eeff;
  }
  50% {
    width: 30rem;
    height: 30rem;
    filter: blur(14rem);
    background-color: #00eeff;
  }
  100% {
    width: 6rem;
    height: 6rem;
    filter: blur(3.2rem);
    background-color: #00eeff;
  }
}

@keyframes leftslide {
  from {
    transform: translateX(-40rem);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes rightslide {
  from {
    transform: translateX(34rem);
    rotate: -10deg;
  }
  to {
    transform: translateX(0px);
    rotate: 4deg;
  }
}

@keyframes selectedAnimation {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes ReverseSelectedAnimation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes fadeIN {
  from {
    display: none;
    opacity: 0;
    bottom: 7%;
  }
  to {
    display: flex;
    opacity: 1;
    bottom: 5%;
  }
}

@keyframes fadeOut {
  from {
    display: flex;
    opacity: 1;
    bottom: 5%;
  }
  to {
    display: none;
    opacity: 0;
    bottom: 3%;
  }
}

@keyframes TextOnScroll {
  entry 0% {
    opacity: 1;
    transform: translateY(0vh);
    scale: 1.1;
    color: #aa04a2;
  }
  entry 9% {
    opacity: 0;
    transform: translateY(20vh);
    scale: 0.4;
    color: #ffffff;
  }
  entry 10% {
    opacity: 0;
    transform: translateY(-30vh);
    scale: 0.5;
    color: aliceblue;
  }
  entry 25% {
    opacity: 1;
    transform: translateY(0vh);
    scale: 1.1;
    color: #00eeff;
  }
  entry 33% {
    opacity: 0;
    transform: translateY(20vh);
    scale: 0.4;
    color: #ffffff;
  }
  entry 34% {
    transform: translateY(-30vh);
    opacity: 0;
  }
  entry 40% {
    opacity: 1;
    transform: translateY(0vh);
    scale: 1.1;
    color: #ff0000;
  }
  entry 60% {
    opacity: 1;
    transform: translateY(0vh);
    scale: 1;
    color: #ff0000;
  }
  entry 68% {
    opacity: 0;
    transform: translateY(20vh);
    scale: 0.4;
    color: #ffffff;
  }
  entry 69% {
    transform: translateY(-20vh);
    opacity: 0;
  }
  entry 75% {
    opacity: 1;
    transform: translateY(0vh);
    scale: 1.1;
    color: #00ff00;
  }
  entry 100% {
    color: #00ff00;
  }
}

@keyframes fadeOutText {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes btnOnScroll {
  0% {
    scale: 0;
    opacity: 0;
    background-position: 0 0;
  }
  5% {
    scale: 0;
    opacity: 0;
    background-position: 0 0;
  }
  10% {
    scale: 1;
    opacity: 1;
  }
  100% {
    background-position: 100% 0;
  }
}
