@font-face {
  font-family: Poppins;
  src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: Playfair_Display;
  src: url(Playfair_Display/PlayfairDisplay-BoldItalic.ttf);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 255, 255, 0.7);
  transition: all 300ms linear;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: 2px solid aliceblue;
  padding: 2rem;
}

.footer:hover {
  box-shadow: 10px 0px 20px 10px rgba(0, 255, 255, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 2px solid transparent;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.navlinkwrap,
.footerGroup {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.footerLinks {
  display: flex;
}

.footerTitle {
  font-family: Poppins;
  margin: 0 0 0.5rem 0;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
}

.navlink.small {
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-right: 0;
}

.footerLogo {
  font-size: 4rem;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rights {
  font-size: 0.85rem;
  font-family: Playfair_Display;
}

/* Media */

@media only screen and (max-width: 520px) {
  .footer {
    flex-direction: column-reverse;
  }

  .footerLinks {
    width: 90vw;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }

  .footerTitle {
    font-size: 4rem;
  }

  .navlink.small {
    font-size: 2rem;
  }

  .footerLogo {
    font-size: calc(100vw / 13);
  }

  .rights {
    font-size: calc(100vw / 50);
  }
}
