@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */

*:focus {
  outline: none;
}

html {
  background-color: rgba(39, 37, 37, 0.911);
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none; /*  Hide scrollbar for IE and Edge */
  scrollbar-width: none; /*  Hide scrollbar for Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 1rem;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 3rem 0.4rem 0.6rem 0.4rem;
  color: #cccccc;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  width: 100%;
  height: 100%;
}

/* STRUCTURE */

#formContent {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 30rem;
  background: #fff;
  -webkit-box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2rem 4rem 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #15172b;
  border: 1px solid #bcbcbc;
}

.userIcon {
  font-size: 10rem;
  margin: 1rem 0;
  color: #cccccc;
}

/* TABS */

h2.inactive {
  color: #cccccc;
  border-bottom: 0rem solid transparent;
  transition: all 300ms linear;
}

h2.inactive:hover {
  color: #fff;
}

h2.active {
  color: #5fbae9;
  border-bottom: 0.15rem solid #5fbae9;
  margin: 0 0.5rem;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}

.underlineHover::after {
  display: block;
  width: 100%;
  scale: 0;
  height: 0.1rem;
  background-color: #56baed;
  content: "";
  transition: scale 400ms;
}

.underlineHover:hover {
  color: #56baed;
}

.underlineHover:hover::after {
  scale: 1;
}

/* Masonry */

.grid {
  columns: 20rem;
  pointer-events: none;
  position: absolute;
  width: calc(100vw - 2rem);
}

.item ~ .item {
  margin-top: 1rem;
}

.item {
  break-inside: avoid;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.3rem;
  position: fixed;
  left: 0;
  width: 100vw;
}

.submitBTN:hover {
  cursor: pointer;
}

/* Form */

.form {
  background-color: #15172b;
  border-radius: 20px;
  padding: 1rem;
  color: white;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passCreate,
.textField {
  margin-top: 3rem;
}

.passCreate .input {
  height: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 5rem;
}

.cut-short {
  width: 3.5rem;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 1rem;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-1.5rem) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 15px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 1.2rem;
  height: 3rem;
  margin-top: 2.5rem;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.google_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-top: -1.5rem;
}

.google_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.google_button img {
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* ANIMATIONS */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------- MEDIA ---------------------------- */
/* TV */
@media screen and (min-width: 5000px) {
  .grid {
    columns: 35rem;
  }
}

@media screen and (min-width: 4000px) {
  .grid {
    columns: 30rem;
  }
}

@media screen and ((min-width: 3000px) or (min-height: 1700px)) {
  html {
    font-size: 25px;
  }
}

/* Monitor */
@media screen and ((min-width: 2000px) or (min-height: 1400px)) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-height: 1400px) {
  .wrapper {
    scale: 1.7;
    top: 20%;
  }
}

/* Phone */
@media screen and (max-height: 900px) {
  html {
    font-size: 12px;
  }
}

@media screen and ((max-height: 800px) or (max-width: 480px)) {
  .wrapper {
    scale: 0.7;
  }
}

@media screen and ((max-height: 800px) or (max-width: 340px)) {
  .wrapper {
    scale: 0.5;
  }
}
